/* here you can put your own css to customize and override the theme */
.page-slider {
  //margin: 0 auto;
  min-height: 300px;
  //background: #fff url(../images/loader.gif) no-repeat center center;
  width: 100%;
  //float: left;
  //clear: both;
}
.page-slider .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
  box-shadow: 0 1px 4px 0 #222;
  -webkit-box-shadow: 0 1px 4px 0 #222;
  -moz-box-shadow: 0 1px 4px 0 #222;
}
.flexslider .slides {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  position: relative;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}
.page-slider .flexslider .flex-control-nav {
  bottom: 20px;
  z-index: 1000;
  right: 20px;
  float: right;
  width: auto;
  height: 100px;
}
.page-slider .flexslider .flex-control-nav li {
  display: block;
  margin-bottom: 10px;
}
.page-slider .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.page-slider .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: transparent;
  border: 2px solid #228896;
}

.kotak {
  border: 1px solid rgba(255,255,255,0.1);
  padding: 15px;
  position: relative;
  margin: 100px 200px 0px;
  clear: both;
  //width: 75%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 640px) {
  .kotak {
    margin: 50px 10px 0px;
  }
}

@media only screen and (min-width: 960px and max-width: 1080px) {
  .kotak {
    margin: 90px 50px 0px;
  }
}
